.xpr_body{
    font-family: 'FontAwesoome';
    background: linear-gradient(-135deg, #6caad3f6, #bc63dfce);
    color: #fdfafa;
    font-weight: 500;
    margin: 0;
    font-size: larger;
    font-weight: 600;
}
.xpr_body p{
    padding: 30px 20px 0px 20px;
}
.oneInfoSet{
    display: flex;
    border-radius: 40%;
    width: 80%;
    height: 50%;
    align-items: center;
    flex-wrap: wrap;
    border: white;
    border:2em;
    margin: 50px 50px;
    font-size: larger;
    font-weight: 600;
}
.nav{
    background-color: rgb(36, 30, 30);
}
#linkedin{
    margin: 2rem 2rem;

}
#linkedin:hover {
    cursor: pointer;
    background-color: yellow;
}
#imagg2{
    width: 70%;
    border-radius: 20%;
    justify-content: center;
    /* height: 50%; */
    grid-area: auto;
    padding: 2rem;
}




