body{
    left: 30px;
    display: block;
    background: linear-gradient(-135deg, #63b2e7, #a15bbd);
    color: hsla(0, 0%, 100%, 0.966);
}

.container{
    margin-left: 5rem;
    align-items: center;

}

.fa{
    font-family: 'FontAwesome';

}
#git{
    margin: 2rem 2rem;

}
#git:hover {
    cursor: pointer;
    background-color: yellow;
}
h1{
    padding: 4rem;
}

@media (min-width:1000) {

    .contnr{
        display: grid;
        grid-template-columns: auto auto;

       grid-gap: 2rem;
       grid-template-areas: none;
    }
   .contnr__section{
       grid-area: auto;
   }
}




